@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
	border: box-box;
}

body {
	background-image: url("/image/pp.jpg");
	font-family: "Poppins", sans-serif;
	margin: 0;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	color: white;
}

h1 {
	font-weight: normal;
	font-size: 4rem;
	margin-top: 5rem;
}

.hitungan-container {
	display: flex;
}

.big-text {
	font-weight: bold;
	font-size: 6rem;
	line-height: 1;
	margin: 0 2rem;
}

.hitungan-el {
	text-align: center;
}

.hitungan-el span {
	font-size: 1.3rem;
}
